.wrapper-cadastro {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(960deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .title {
    text-align: center;
    font-size: large;
    padding-bottom: 10px;
  }
  
  .form-box-cadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .input-box-register {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
    position: relative;
  }
  
  
  .input-box-register:last-child {
    margin-right: 0;
  }


  .input-box-register input {
    height: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    padding: 20px 40px 20px 20px;
  }
  .check-box input{
    height: fit-content;
    width: 50px;
    border: 2px solid rgba(255,255,255,.2) ;
    outline: none;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-size: 40px;

  }
.input label{
  justify-content: center;
  align-items: center;
  padding-right: 10%;
}

.input-button{
   margin-top: 10px;
  flex-direction: column; 
  justify-content: center;
  align-items: center;

}
  
.input-box-register button {
  width: 50%;
  align-items: center;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  border-color: #fff;
  padding: 10px 20px; /* Add padding for better appearance */
  background-color: #ffffff; /* Optional: Set a background color */
  cursor: pointer; /* Change cursor to pointer on hover */

}
  .short-input {
    flex: 0 0 10%;
    width: 20%;
  }
  
  .wide-input {
    flex: 0 0 45%;
  }
  
  .medium-input {
    flex: 0 0 25%;
  }
  
  .place {
    position: absolute;
    top: 10px;
    transition: top 0.2s, font-size 0.2s, color 0.2s;
    left: 15px;
    font-size: 18px;
    padding: 0 5px;
    color: #555555;
  }
  
  .input-box-register input:focus + .place,
  .input-box-register input:not(:focus):not(:placeholder-shown) + .place {
    top: -1px;
    font-size: 8px;
    opacity: 1;
  }
  
  .input-box-register input:not(:focus):placeholder-shown + .place {
    top: 10px;
    font-size: 18px;
    opacity: 1;
  }
  
  .input-box-register input::placeholder {
    color: transparent;
  }
  
  .validation-enable {
    background-color: transparent;
    color: rgb(222, 84, 84);
    font-weight: 700;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    visibility: visible;
  }
  
  .validation-disable {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    visibility: hidden;
  }
  
  .wrapper-register button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: #4b0082;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }
  
  /* Media query for screens smaller than 620px */
  @media (max-width: 620px) {
    .wrapper-cadastro {
      width: 100%;
    }
  
    .input-row {
      flex-direction: column;
    }
  
    .input-box-register {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  