

.wrapper{
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255,255,255,.2);
    opacity: 3;
    backdrop-filter: blur(960deg);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    transition: height .2s ease;
}

.form-box {
    max-width: 100%; /* Set maximum width for the form-box */
    text-align: center;
  }


.validation-enable{
  background-color: transparent;
  color: rgb(222, 84, 84);
  font-weight: 700;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  visibility: visible;
      
}
.validation-disable{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    visibility: hidden;
        
  }
.wrapper h1{
    font-size: 36px;
    text-align: center;;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0 ;
}


.input-box{
   padding-bottom: 10px;
   top: 8px;
   font-size: 11px;
   position: relative;
}

.place{
    position: absolute;
    top: 10px;
    transition:  0.2s, font-size 0.2s, color 0.2s;
    left: 15px;
    font-size: 18px;
    padding: 0px 5px;
    color: #555555;
}

.input-box input:focus + .place{
  top: -1px;
  font-size: 8px;
  opacity: 3;
  backdrop-filter: blur(960deg);
  opacity: 1;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  /* Change color to match your design */
 /* Adjust size to match your design */
 

}
.input-box input:not(:focus):not(:placeholder-shown) + .place {
    display: none;
  }
  
  .input-box input::placeholder {
    color: transparent; /* Hide original placeholder text */
  }

.check-box input{
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255,255,255,.2) ;
  outline: none;
  border-radius: 40px;
  font-size: 20px;
  padding: 20px 40px 20px 20px;
}


.input-box input{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255,255,255,.2) ;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    padding: 20px 40px 20px 20px;
    
}


.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    /* margin: -15px 0 15px; */
    padding-top: 10px;
    padding-bottom: 15px;
    color: #333;
    align-items:center ;

}
.header-login{
    width: 50%;
    padding-bottom: 10px;
}
.span-logintitle{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #4F4F4F;
}


.remember-forgot a{
    color: #333;;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;;

}
.wrapper button{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: #4B0082;
    box-shadow: 0 0 10px rgba(0,0,0,-1);
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

/* Media query for screens smaller than 620px */
@media (max-width: 620px) {
    .wrapper {
      /* Adjust padding for smaller screens */
      width: 100%;
    }
    .form-box{
        width: 98%;
    }
  }